.left
{
	text-align: left;
}
.jumbotron{

	background-image: url(http://i62.tinypic.com/23hpug4.jpg);
	height: 210px;
	
	margin: 0px;
	background-position:center;
	h1 {
	color: #000000;
	text-shadow: 0px 2px 3px #555;
	margin-top: 0.2cm;
	}
	h2 {
	color: #000000;
	text-shadow: 0px 2px 3px #555;
	margin-top: -0.3cm;
	}
}
